Source: vnc-collaborate
Maintainer: None <None>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 12)
Standards-Version: 4.7.0
Homepage: https://github.com/BrentBaccala/collaborate

Package: python3-vnc-collaborate
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Scripts to facilite VNC remote desktop collaboration
 This is a extension to the
 [Big Blue Button](https://bigbluebutton.org/) video conferencing
 system to facilitate virtual classrooms by allowing VNC remote
 desktops to be shared in a video conference.
 .
 **WARNING**: There is no real security isolation between the remote
 desktops.  Anybody with access to one desktop can access all desktops.
 The system is suitable for limited use but is not fully production-ready.
 .
 This extension itself is housed in the
 [BrentBaccala/bigbluebutton](https://github.com/BrentBaccala/bigbluebutton)
 repository.  This repository contains Python support code,
 but is also the home of the install instructions and the issue tracker.
 .
 The extension allows different VNC desktops to be presented to different
 participants, each of whom is given a Linux login on the video
 conferencing server.
 .
 **For security purposes, it's probably best to
 think about this extension as a login method that allows UNIX users

